<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Christmas</title>
  </head>
  <body>
    <input id="btn_post" type="button" value="Start Christmas">
  </body>
</html>
