// Keyframe
@keyframes carAnimation {
  $steps: 5;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      transform: matrix3d(random(1), 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, random(10), 0, 1);
    }
  }
}

// Base

$container-width: 1320px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow: hidden;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .3);
  overflow: hidden;
}

// Page
.top-bar {
  position: absolute;
  width: 100%;
  max-width: $container-width;
  height: 15px;
  background-color: #27333e;
  z-index: 99;
}

#snow-container {
  position: absolute;
  width: 100%;
  max-width: $container-width;
  height: 100%;
  z-index: 50;
}

.button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: $container-width;
  height: 26vw;
  z-index: 999;

  a {
    display: block;
    position: absolute;
    bottom: 29%;
    left: 29%;
    width: 10%;
    transform: scale(1);
    transition: .15s all ease-in-out;

    &:active {
      transform: scale(.95);
    }

    &:hover {
      opacity: .9;
    }
  }

  img {
    max-width: 100%;
  }
}

.background {
  width: 100%;
  height: 100vh;
  background-color: lighten(#4192cc, 1%);
}

.video {
  position: absolute;
  bottom: 24vh;

  video {
    display: block;
    width: 100%;
    max-width: $container-width;
  }
}

.dashboard {
  position: absolute;
  bottom: 0;
  z-index: 99;

  img {
    display: block;
    width: 100%;
    max-width: $container-width;
  }
}

.spiegel {
  position: absolute;
  top: 0;
  z-index: 129;

  img {
    display: block;
    width: 100%;
    max-width: $container-width;
  }
}

.car-animated {
  animation: carAnimation 7s cubic-bezier(.4, 0, .4, 1) infinite forwards;
}
